@{
    ViewData["Title"] = "Home Page";
}


<!--header-->
<
    <!-- Create header section -->
    <header>

        <div class="logo"><span>EVENT</span> MAKER</div>
        <nav>
            <ul>
                <li><a href="http://127.0.0.1:5500/home.html">HOME</a></li>
                <li><a href="http://127.0.0.1:5500/about.html">ABOUT US</a></li>
                <li><a href="http://127.0.0.1:5500/service.html">SERVICES</a></li>
                <li><a href="http://127.0.0.1:5500/contact.html">CONTACT US</a></li>
            </ul>
        </nav>
        <div class="button">
            <a href="http://127.0.0.1:5500/Login.html" class=" btn btn-1">Login</a>
        </div>
    </header>

   
<!--body-->
<section class="home">
    <div class="content">
        <h3>its time to celebrate! the best <span> event organizers </span></h3>
        <p>Organizing an event involves several key steps: planning, budgeting, and execution. Initially, define the event's purpose and goals to ensure alignment with your audience's needs. Budgeting is crucial; allocate funds for venue, catering, entertainment, marketing, and other logistics. Secure a suitable venue early, considering accessibility and capacity. </p>

        <a href="#" class="btn">Contact Us</a>
    </div>
</section>


<!-- Create footer section -->

<section class="footer">

    <div class="box-container">

        <div class="box">
            <h3>branches</h3>
            <a href="#"><i class='bx bxs-store'></i>Sialkot</a>
            <a href="#"><i class='bx bxs-store'></i>Lahore</a>
            <a href="#"><i class='bx bxs-store'></i>Islamabad</a>
            <a href="#"><i class='bx bxs-store'></i>Karachi</a>
        </div>

        <div class="box">
            <h3>quick links</h3>
            <a href="#"><i class='bx bx-right-arrow-alt'></i>Services</a>
            <a href="#"><i class='bx bx-right-arrow-alt'></i>home</a>
            <a href="#"><i class='bx bx-right-arrow-alt'></i>contact us</a>
            <a href="#"><i class='bx bx-right-arrow-alt'></i>about</a>
        </div>

        <div class="box">
            <h3>contact info</h3>
            <a href="#"><i class='bx bxs-phone'></i>+923128956589</a>
            <a href="#"><i class='bx bxs-phone'></i>+111-222-333</a>
            <a href="#"><i class='bx bxs-envelope'></i>Eventmaker@gmail.com</a>
            <a href="#"><i class='bx bxs-map'></i>Sialkot-Pakistan</a>

        </div>

        <div class="box">
            <h3>follow us</h3>
            <a href="#"><i class='bx bxl-facebook-circle'></i>facebook</a>
            <a href="#"><i class='bx bxl-twitter'></i>twitter</a>
            <a href="#"><i class='bx bxl-instagram-alt'></i>instagram</a>
        </div>
    </div>

    <div class="credit">
        Created By <span>Mr. Web Designer</span> | All Rights Reserved
    </div>
</section>
